<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | An FCC Project</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <h5>Coded by Cody</h5>
    <hr />
    <div class="container">
      <p>This is a timestamp Microservice API coded by Cody. There are a couple of ways to use
        this API, all very self all of which I have outlined below. Thanks for using the API.
      </p>
      <h2>Example Usage:</h2>
        <h3>Get current Time</h3>
        <p>simply add 'api' on to the end of the url</p>
        <ul>
          <li><a href="api/"></a>https://Timestamp-API.codyjamesbrooks.repl.co/api</li>
        </ul>
        <br>
        <h3>Using any valid date string</h3>
        <p>Append any date string onto the end of the url after api/</p>
        <ul>
          <li><a href="api/1791-12-15">https://Timestamp-API.codyjamesbrooks.repl.co/api/1791-12-15</a><li>
          <li><a href="api/12 17 1770">https://Timestamp-API.codyjamesbrooks.repl.co/api/12 17 1770</a></li>
        </ul>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
